@import "tailwindcss";
@plugin "daisyui" {
   themes: cupcake --default, dark --prefersdark  ;
    logs: true;
    /* include : select;  */
    /* it only includes the components you list. By listing only select? */
 }


:root{
  margin : 0;
  box-sizing: border-box;
  font-family: Mona-Sans , Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

}

html, body {
  min-height: 100vh;
  /* Removeed height: 100vh; */
}

 select {
    background-color: var(--color-base-100);
    padding: 5px;
    color: var(--color-base-content);
    border-radius: 100rem;
}


 body{
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: var(--color-base-100);
  }



/* TAILWIND CSS DIRECTIVES  */
  @theme{
    --nav-height : 5rem;
    --header-height : calc(100vh - 5rem);
    --container-width : 90vw;

    --breakpoint-xl: 1000px;          
    --breakpoint-xxl: 1300px;
    --nav-bg-color: var(--color-amber-100)
    }
  
  @layer components{

  .nav {
    height: var(--nav-height);
    position: fixed;
    transition: all .5s;  
  }
  
  .fixed_nav{
    position: fixed;
    background-color: inherit;
  }

  .header{
    height: var(--header-height);
    box-sizing: border-box;
  }
}

@layer utilities{
 .link{
    text-decoration-line: none;
  }
}
  .link::after{
    content : '';
    text-decoration: none;
    display: block;
    position: absolute;
    background-color: black;
    height: .25rem;
    animation: animation 1s ease-in forwards;
}

.testimonial , .exp_test{
  height: 15rem;
}

  @keyframes animation {
    0% {
      width: 0;
    }
    70%{
      width: 100%;
    }
    100%{
      width: 100%;
    }
  } 

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }

  .mt-responsive {
    @apply xl:mt-20 md:mt-0 mt-40;
  }

  /* General Grids */
  .grid-base {
    @apply grid grid-cols-1;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  .grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
  }

  .grid-3-cols-md-tight {
    @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0;
  }

  .grid-4-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-7;
  }

  .grid-12-cols {
    @apply grid grid-cols-1 xl:grid-cols-12 gap-10;
  }

  .hero-layout {
    @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
  }

  .hero-text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
    img {
      @apply size-8 md:size-10 object-contain;
    }
    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }

  .hero-badge {
    @apply bg-black-200 py-2 px-4 rounded-full w-fit text-sm md:text-base text-nowrap;
  }

  .hero-3d-layout {
    @apply xl:w-[70%] w-full h-full min-h-[50vh] absolute xl:-top-20 top-24 xl:-right-20 right-0;
  }

  .navbar {
    @apply fixed w-full left-1/2 py-5 px-5 md:px-20 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out;

    &.scrolled {
      @apply top-0 bg-black;
    }

    &.not-scrolled {
      @apply md:top-10 top-0 bg-transparent;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }

    .logo {
      @apply text-white-50 text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-105;
    }

    nav.desktop {
      @apply hidden lg:flex items-center;

      ul {
        @apply flex space-x-8;

        li {
          @apply text-white-50 relative;

          span {
            @apply transition-colors duration-300 hover:text-white;
          }

          .underline {
            @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
          }
        }
      }
    }


}

.animation{
  animation: moving_copywright 5000ms infinite cubic-bezier(0.9, 0.1, 0.3, 0.99);
  transform: translate3d(0, 0, 0);
} 

@keyframes moving_copywright {
  0% {
    transform: translateY(0px);
  }
  5%{
    transform: translateY(0px);
  }
  23%{
        transform: translateY(-27%);
  }
  46% {
    transform: translateY(-53%);
  } 

  69%{
    transform: translateY(-80%);
  } 


}

@media (min-width : 1350px) {
 
  
}

